* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #3A4960;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

#Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 28vh;
  margin-bottom: 2rem;
}
#Header h2 {
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-left: 0.8rem;
}
#Header .image {
  background: white;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid rgb(234, 238, 205);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.469);
}
#Header .image img {
  width: 100%;
}

#Cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;
}
#Cards a {
  width: 100%;
  text-decoration: none;
}
#Cards .card-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 4.5rem;
  margin: auto;
  text-align: center;
  background: #8385A3;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
}
#Cards .card-link:hover {
  background: #787a9b;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.25);
}
#Cards .card-link h1 {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}
#Cards .kirby img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  transform: translateY(-26.84px);
}
#Cards .junimo img {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  transform: translateY(-23.84px);
}
#Cards .boo img {
  position: absolute;
  top: 0;
  left: 10px;
  width: 25px;
  transform: translateY(-25.5px);
}

#Footer {
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#Footer p {
  color: white;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.non-mobile-display {
  display: none;
  background: #3A4960;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.non-mobile-display h1 {
  font-size: 3.6rem;
  color: white;
  font-weight: 100;
  letter-spacing: 0.1em;
  width: 70%;
}

@media (max-height: 667px) {
  body {
    height: 110vh;
  }
  #Cards {
    height: 70vh;
    margin-bottom: 4rem;
  }
  #Footer {
    position: static;
    padding-bottom: 2rem;
  }
}
@media (max-height: 568px) {
  body {
    height: 120vh;
  }
  #Header {
    height: 35vh;
  }
  #Cards {
    height: 80vh;
    margin-bottom: 4rem;
  }
  #Footer {
    position: static;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 517px) {
  #Cards {
    width: 70%;
    margin: auto;
  }
}
@media screen and (min-width: 697px) {
  #Cards {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 817px) {
  #Cards {
    width: 45%;
    margin: auto;
  }
}
@media screen and (min-width: 1130px) {
  #Cards {
    width: 35%;
    margin: auto;
  }
}/*# sourceMappingURL=Main.css.map */